html, body {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
}
.boxFhater{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.boxTexts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}